.game {
    width: 600px;
    height: 200px;
    border-bottom: solid black 1px;
    margin: auto;
}

#chudik {
width: 50px;
height: 50px;
background-image: url(img/chudik.png);
background-size: 50px 50px;
position: relative;
top: 150px;
}

#spike {
    width: 20px;
    height: 40px;
    background-image: url(img/spike.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
animation: spikeMove 2s infinite linear;    
}

@keyframes spikeMove {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    25% {
        top: 125px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 125px;
    }
    100%{
        top: 150px
    }
}

